body {
    background: url(../assets/thankyou-portrait-575.jpg) no-repeat top #071c27;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
    body {
        background-image: url(../assets/thankyou-portrait-767.jpg);
    }
}

@media (min-width: 768px) {
    body {
        background-image: url(../assets/thankyou-portrait-906.jpg);
    }
}

@media (min-width: 992px) {
    body {
        background-image: url(../assets/thankyou-landscape-1400.jpg);
    }
}

.site {
    margin: 0 auto;
    max-width: 1400px;
}

header {
    padding: 1em;
    height: 100%;
}

.thankyou-msg {
    background: rgba(255, 255, 255, 0.6);
    border: solid 3px rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    max-width: 30em;
    padding: 1.75em;
    width: 100%;
}

@media (min-width: 576px) {
    .thankyou-msg {
        margin: 15% auto 0;
    }
}

.thankyou-msg a {
    color: black;
}

.thankyou-msg a:hover {
    color: purple;
}

footer {
    background: #071c27;
    bottom: 0;
    color: white;
    display: flex;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer div {
    padding: 0.5em;
    width: 100%;
}

footer a {
    display: inline-block;
    margin-right: 0.5em;
    text-decoration: none;
}

.social {
    align-self: center;
    text-align: left;
}

.social svg {
    fill: white;
    width: 1.4em;
}

.footer-logo {
    align-self: center;
    text-align: right;
}
