/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1.1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
input,
button {
    font-family: 'Roboto', sans-serif;
}

.site {
    margin: 0 auto;
    max-width: 1400px;
}

header {
    background: url(../assets/hero-portrait-575.jpg) no-repeat top #071c27;
    background-size: cover;
    color: white;
    display: flex;
}

@media (min-width: 576px) {
    header {
        background-image: url(../assets/hero-portrait-767.jpg);
    }
}

@media (min-width: 768px) {
    header {
        background-image: url(../assets/hero-portrait-991.jpg);
    }
}

@media (min-width: 992px) {
    header {
        background-image: url(../assets/hero-landscape-1400.jpg);
    }
}

.intro {
    margin: 9em auto 0;
    padding: 1.5em;
    text-align: center;
    width: 100%;
}

.intro p {
    text-shadow: 0 1px #071c27;
}

.intro input,
.intro button {
    background: none;
    border: solid 3px white;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    margin: 0.15em 0;
    padding: 0.5em 1em;
    width: 75%;
}

.intro button {
    background: white;
    color: black;
}

.intro button:hover {
    cursor: pointer;
}

.intro input::placeholder {
    color: white;
    opacity: .5;
}

.field-shift {
    left: -9999px;
    position: absolute;
}

@media (min-width: 576px) {
    html {
        font-size: 1.3em;
    }

    .intro {
        margin-top: 15em;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.5em;
    }

    .intro {
        margin-top: 17em;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.7em;
    }

    .intro {
        margin: 0;
        text-align: left;
        width: 16em;
    }

    .intro h1 {
        margin-bottom: 2em;
        margin-top: 0;
    }

    .intro form {
        margin-top: 2em;
    }
}


.options {
    list-style: none;
    margin: 0 auto;
    max-width: 43em;
    padding: 0 0.5em 0.5em;
}

.options li {
    padding-top: 0.5em;
}

.options img {
    max-width: 100%;
}

@media (min-width: 576px) {
    .options {
        display: flex;
        padding: 0.4em 0;
    }

    .options li {
        padding-top: 0;
    }

    .options li:first-child {
        padding-right: 0.2em;
    }

    .options li:last-child {
        padding-left: 0.2em;
    }
}


footer {
    background: #071c27;
    color: white;
    display: flex;
    text-align: center;
}

footer div {
    padding: 0.5em;
    width: 100%;
}

footer a {
    display: inline-block;
    margin-right: 0.5em;
    text-decoration: none;
}

.social {
    align-self: center;
    text-align: left;
}

.social svg {
    fill: white;
    width: 1.4em;
}

.footer-logo {
    text-align: right;
}
